/*------------------------------------------------------------------

Name:     Content
Created:  00/00/00
Author:   Name <email>

-------------------------------------------------------------------*/

$component: 'Content';

.#{$component} {
}