/*------------------------------------------------------------------

Name:     Header
Created:  00/00/00
Author:   Name <email>

-------------------------------------------------------------------*/

$component: 'Header';

.#{$component} {
  
}
