/*------------------------------------------------------------------

Name:     Main
Created:  00/00/00
Author:   Name <email>

-------------------------------------------------------------------*/

$component: 'Main';

.#{$component} {
	z-index: 1;
	position: relative;
	background-color: #991f16;
	margin-bottom: 64px;

  &-content {
  	padding: 40px 0;
  }
}