<div class="Footer">
	<div class="Footer-content">
		<i class="fa fa-code"></i> with <i class="fa fa-heart"></i> by eClass Dev

		<div class="Footer-copyright">
			<i class="fa fa-copyright"></i> Design by Rodrigo Saravia & Develop by Raúl Hernández M | <a href="http://opensource.org/licenses/MIT">MIT License</a> |
			<a href="https://github.com/eclass/eclass.github.io"><i class="fa fa-github"></i> Source Code</a>
		</div>
	</div>
	<img src="images/arboles.png" alt="image" />
</div>
