<div class="Hero">
	<div class="Hero-video">
		<video autoplay loop>
			<source src="images/video.mp4" type="video/mp4" />
			<source src="images/video.webm" type="video/webm" />
		</video>
		<div class="Hero-video-filter"></div>
	</div>

	<div class="Hero-content u-inner u-autoHeight">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="type">
					<h2>eClass.io<span>|</span></h2>
				</div>
				<h1>Experiments, Workshops and Contributions<br>by developers from eClass.</h1>
				{{!-- <a href="http://github.com/eclass" target="blank"><i class="fa fa-github"></i></a> --}}
			</div>
		</div>
	</div>

	<div class="Hero-images">
		<img src="images/eclassio_montanas.svg" alt="">
		{{!-- <img src="images/montana_2.svg" alt="">
		<img src="images/montana_3.svg" alt=""> --}}
	</div>

</div>
