<div class="Hero">
	<div class="Hero-video">
		<video autoplay loop>
			<source src="images/video.mp4" type="video/mp4" />
			<source src="images/video.webm" type="video/webm" />
		</video>
		<div class="Hero-video-filter"></div>
	</div>

	<div class="Hero-content u-inner">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="Hero-type">
					<h2>eClass.io<span>|</span></h2>
				</div>
				<h1>Experiments, Workshops and Contributions<br>by developers from eClass.</h1>
				{{!-- <a href="http://github.com/eclass" target="blank"><i class="fa fa-github"></i></a> --}}
			</div>
		</div>
	</div>

	<div class="Hero-images-mob">
		<img src="images/montanas.svg" alt="image" />
	</div>

	<div class="Hero-images">
		<div class="Hero-images-ufo">
			<img class="Hero-images-ufo" src="images/nave.svg" alt="image" />
		</div>
		<div class="Hero-images-inner">
			<img src="images/montana_7.svg" alt="image">
			<img src="images/montana_6.svg" alt="image">
			<img src="images/montana_5.svg" alt="image">
			<img src="images/montana_4.svg" alt="image">
			<img src="images/montana_3.svg" alt="image">
			<img src="images/montana_2.svg" alt="image">
			<img src="images/montana_1.svg" alt="image">
		</div>
	</div>
</div>
