<!doctype html>
<html class="no-js" lang="en">
	<head>
		{{> head }}
	</head>
	<body class="PageBody">
		<!--[if lt IE 8]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->

		<div class="PageContent">
			{{#block "content"}}{{/block}}
		</div>

		<!--[if lt IE 9]>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="scripts/jquery-legacy.min.js"><\/script>')</script>
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="scripts/jquery-modern.min.js"><\/script>')</script>
    <!--<![endif]-->
    <script src="scripts/{{#if dist}}{{ assetPath "scripts.js" }}{{else}}scripts.js{{/if}}"></script>
	</body>
</html>
