/**
 * @define Section
 *
 * @author Raul Hernandez <rhernandez@eclass.cl>
 * @desc Section component
 * @since 2015-07-28 16:36
 */

.Section {
	clear: fix;
	text-align: center;
	position: relative;
	padding: 40px 0;

	&:after {
		content: '';
		background-image: url(../../../images/sep-red.png);
		background-repeat: repeat-x;
		background-size: 20px;
		width: 150px;
		margin-left: -75px;
		height: 20px;
		position: absolute;
		bottom: -80px;
		left: 50%;
	}

	&:last-child {
		&:after {
			display: none;
		}
	}

	&:first-child {
		.Section {
			&-title {
				margin-top: 100px;
			}
		}
	}

	@media (--small-3) {
		&:hover {
			.Section {
				&-title {
					h2 {
						&:before {
							transform: rotate(-40deg);
							background-color: rgba(var(--color-primary), 0.4);
						}
					}

					small {
						opacity: 1;
						transform: translateY(0) translateX(40px);
					}
				}
			}
		}

		&:nth-child(even) {
			.Section {
				&-title {
					margin-left: 300px;
				}

				&-list {
					text-align: right;
					margin-left: -50%;
				}
			}
		}
	}

	/**
	 * title
	 */
	&-title {
		margin-top: 160px;
		margin-bottom: 20px;
		position: relative;

		@media (--small-3) {
			margin-left: -300px;
		}

		h2 {
			color: var(--color-white);
			font-family: var(--font-family-serif);
			font-size: 3em;
			margin-bottom: 10px;
			transition: all .3s ease;

			&:before {
				content: '';
				position: absolute;
				top: 50%;
				margin-top: -40px;
				left: 50%;
				width: 300px;
				margin-left: -140px;
				height: 40px;
				transform: rotate(40deg);
				background-color: rgba(var(--color-primary), 0.2);
				z-index: -1;
				transition: all .3s ease;
			}

			&:hover {
				/*color: var(--color-primary);*/
			}
		}

		small {
			color: var(--color-primary);
			font-style: italic;
			font-size: 14px;
			display: inline-block;
			transition: all .6s easeOutBack;
			/*opacity: 0;*/

			@media (--small-3) {
				transform: translateX(-80px);
			}
		}
	}

	/**
	 * list
	 */
	&-list {
		margin: 0;
		padding: 0;
		display: inline-block;
		clear: fix;
		list-style: none;
		margin-top: 20px;

		@media (--small-3) {
			text-align: right;
			margin-left: 50%;
		}

		/**
		 * list-item
		 */
		&-item {
			margin-bottom: 10px;
			padding: 0 20px;

			a {
				border-bottom: 2px solid var(--color-primary);
				font-style: italic;
				font-size: 20px;
				color: var(--color-white);
				width: 100%;

				&:hover {
					border-color: #fff;
				}
			}

			small {
				color: var(--color-primary);

				display: inline-block;
				width: 100%;
			}
		}
	}

	/**
	 * team
	 */
	&--team {
		.Section {
			&-title {
				margin-top: 140px;
				margin-left: 0 !important;

				h2 {
					color: color(var(--color-primary) a(30%));

					&:before {
						display: none;
					}
				}
			}
		}
	}
}
