/*------------------------------------------------------------------

Name:     Utilities
Date:     -
Author:   Raúl Hernández (raulghm@gmail.com)

-------------------------------------------------------------------*/

.u-inner {
	margin: 0 auto;
	position: relative;
	max-width: $general-max-width;
	@include clearfix();
	padding: 0 20px;
	// min-width: $general-min-width;
}

.u-row {
	margin: 0;
	@include clearfix();
}