/*------------------------------------------------------------------

Name:			Mixins
Created:	-
Author:		Raúl Hernández <raulghm@gmail.com>

-------------------------------------------------------------------*/

// icon helper fontawesome
@mixin icon($icon) {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: lighter;

  &:before {
    @extend .fa-#{$icon};
  }
}

// hwb function
// background-color: hwb(63deg, .7, 0);
@function hwb($hue, $w, $k) {
  @if(unit($w) == "%") {
    $w: $w / 100%;
  }
  @if(unit($k) == "%") {
    $k: $k / 100%;
  }
  $hue: $hue / 1deg;
  $hue: ($hue % 360) / 360 * 6;
	$t2: 1;
	$t1: 0;
	$r: hueToRgb($t1, $t2, $hue + 2);
	$g: hueToRgb($t1, $t2, $hue);
	$b: hueToRgb($t1, $t2, $hue - 2);
  
  @if($w + $k > 1) {
		$rat: $w + $k;
		$w: $w / $rat;
		$k: $k / $rat;
	}
    
  $r: (($r * (1 - $w - $k)) + $w) * 255;
  $g: (($g * (1 - $w - $k)) + $w) * 255;
  $b: (($b * (1 - $w - $k)) + $w) * 255;
  
	@return rgb($r, $g, $b);
}

@function hwba($h, $w, $b, $a) {
  @return rgba(hwb($h, $w, $b), $a)
}